:root{	
/* =======================
	Scala de Cinza
   ====================== */
	--scale01:#808080;
	--scale02:#949494;
	--scale03:#a9a9a9;
	--scale04:#bdbebd;
	--scale05:#d3d3d3;
	--scale06:#e9e9e9;

/* =======================
	Paleta
   ====================== */
	--color01:#0A1128;
	--color02:#001F54;
	--color03:#034078;
	--color04:#1282A2;
	--color05:#FEFCFB;

/* =======================
	Diversas colors
   ====================== */
	--verdeClaro:#72B01D;
	--verdeEscuro:#3F7D20;

}