@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import 'fonts.css';
@import 'root.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-size: 1.2rem;
	background-color: #f1f1f1;
}

a {
	text-decoration: none;
}

.body {
	width: 100%;
	height: 100vh;
}


/* =====================================================================
							Cabeçalho da Aplicação
   =====================================================================*/

.body .nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 30px;
	background-color: var(--color01);
	border-bottom: 3px solid var(--scale02);
}

.body .nav .nav-brend {
	display: flex;
	flex-direction: column;
	color:var(--scale05);
}

.body .nav .nav-brend i{
	font-size: 30px;
}

.body .nav .nav-brend span{
	font-size: 20px;
	color: orange;
	font-weight: normal;
	text-shadow: 1px 1px 1px orange; 
	font-family: var(--font01);
}

.body .nav .navbar .navbar-nav {
	display: flex;
	list-style: none;
}

.body .nav .navbar .navbar-nav .nav-item {
	padding: 10px;
	text-align: center;
}

.body .nav .navbar .navbar-nav .nav-item .nav-link {
	font-size: 16px;
}

.body .nav .navbar .navbar-nav .nav-item p {
	color:var(--scale05);
	font-size: 14px;
	padding: 5px;
	font-family: var(--font02);
}

.body .nav .navbar .navbar-nav .nav-item:nth-child(5) {
	margin-top: 10px;
	margin-left: 545px;
}

.body .nav .navbar .navbar-nav .nav-item:nth-child(5) .nav-link {
	padding: 10px 30px;
	border-radius:20px;
	font-size: 14px;
	font-family: var(--font02);
	color: var(--scale06);
	background-color: var(--verdeClaro);
	box-shadow: inset -5px 2px 3px 1px var(--verdeEscuro);
}

.body .nav .navbar .navbar-nav .nav-item .nav-link {
	color:var(--scale04);
}


/* =====================================================================
							Menu da Aplicação
   =====================================================================*/


.menu {
	width: 250px;
	height: 86vh;
	background-color: var(--scale06);
}

.menu .user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #f1f1f1;
}

.menu .user .avatar{
	width: 100px;
	height: 100px;
	border:2px solid var(--scale06);
	border-radius: 100px;
	object-fit: cover;
	object-position: center;
	margin: 5px;
	margin-top: 20px;
	background-color: orange;	
}

.menu .user .name {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 35px;
	font-size: 16px;
	color:var(--scale01);
	font-weight: bold;
	font-family: var(--font02);
}

.menu .user .name p:nth-child(2){
	font-size: 12px;
	font-weight: normal;
	color:var(--scale02);
}

.menu .user .saldo {
	width: 100%;
	padding: 5px;
	margin-right: 0px;
	font-size: 13px;
	color:var(--scale05);
	font-weight: normal;
	background-color: var(--color02);
	position: relative;
	font-family: var(--font06);
}

.menu .user .saldo:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: var(--color02);
	right: -10px;
	top:14px;
	transform: rotate(222deg);
}

.menu .user .saldo p {
	font-weight: bold;
	padding: 5px;
	color: var(--scale06);
	font-family: var(--font01);
}

.items {
	margin-top: 20px;
	padding: 20px;
}

.items ul {
	list-style: none;
}

.items ul li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.items ul li a {
	font-size: 15px;
	color: var(--scale01);
	font-family: var(--font05);
}

.items ul li a i{
	width: 30px;
}


/* =====================================================================
							Garficos da nossa Aplicação
   =====================================================================*/

.grapics {
	margin: 20px;
	margin-top: 30px;
	width: 80%;
}

.grapics .title {
	margin-bottom: 30px;
	padding-left: 10px;
	font-family: var(--font04);
}

.grapics .title h1 {
	color:var(--scale02);
	font-size: 30px;
}

.grapics .title p {
	color:var(--scale04);
	font-size: 15px;
}

.grapics .cards{
	display: flex;
	justify-content: space-around;
	align-items: center
}

.grapics .cards div{
	width: 340px;
	padding: 10px;
	background-color: var(--scale05);
	box-shadow: 5px 5px 5px var(--scale01);
	border-radius: 5px;
	border-left: 10px solid var(--scale04);
}

.grapics .cards div p:nth-child(1){
	color: var(--scale01);
	margin-bottom: 10px;
	font-size: 20px;
	font-family: var(--font01);
}

.grapics .cards div p:nth-child(2){
	color: var(--color05);
	font-weight: bold;
}













